<div>
    <div class="container">
        <div id="top-menu">
            <!-- main_menu -->
        </div>
    </div>


    <div class="frame top">
        <div class="container">
            <div class="right-container">
            <div class="big-top">Front End Engineer</div>
            <div class="name">Jason Ohr</div>


            </div>

        </div>
    </div>


    <div  class="frame about">
        <div class="container">
            <a id="about"></a>
            <div class="right-container">
                <div class="dark-headings">
                    <h2 class="left">About Me</h2>
                    <h2 class="right">Some Skills</h2>
                </div>
                <div class="left">

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Corporis cumque dolore eius enim laudantium officiis pariatur
                        ut! Cumque dicta ducimus eius ipsum iusto, obcaecati, quasi quis,
                        quisquam quo reprehenderit soluta?
                    </p>
                </div>
                <div class="right">

                    <ul class="skills">
                        <li>AngularJS</li>
                        <li>Backbone.js</li>
                        <li>JavaScript</li>
                        <li>JQuery</li>
                        <li>Bootstrap/ Bourbon</li>
                        <li>SASS/ LESS</li>
                        <li>CSS</li>
                        <li>HTML</li>
                        <li>Git/ GitHub</li>
                        <li>Bower/ NPM</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="frame portfolio1">
        <div class="container">
            <a id="portfolio1"></a>
            <div class="right-container">

                <div class="dark-headings ">
                <h2>Portfolio</h2>
                </div>
                <div class="port port-l">
                    <div class="img-port">
                        <a href="nutrasight/app/#/ingredients" target="_blank">
                            <img src="dist/images/nutrasight-shot.png" alt="nutrasigt link"/>
                        </a>
                    </div>
                    <div class="port-title">
                        <a href="https://github.com/JasonOhr/final-project">
                            <div class="git-hub-out">
                                <span class="git-hub-in">
                                    <img  src="dist/images/github.ico"/>
                                </span>
                            </div>
                        </a>
                        <h3>Nutrasight</h3>
                    </div>
                    <div class="port-description">
                        <p>This is my first Angular site and is a work in progress.  For the final project
                            at the Iron Yard, I decided to learn as much as I could about Angular and build a
                            site, this is what I came up with.  It looks up food items from a list of 8500
                            and displays their computed nutritional value.  It also has the ability to find the
                            nutritional value of custom recipes.
                        </p>
                    </div>

                    <div class="port-overlay">
                        <ul class="port-skills">
                            <li>AngularJS</li>
                            <li>JavaScript</li>
                            <li>RestfulAPI</li>
                            <li>Highcharts</li>
                            <li>JSON</li>
                            <li>Sass</li>
                            <li>Parse</li>
                        </ul>
                    </div>


                </div>
                <div class="port port-m">
                    <div class="img-port">
                        <a href="majestic-thai" target="_blank">
                            <img src="dist/images/majestic-thai-shot.png" alt="majestic-thai link"/>
                        </a>
                    </div>
                    <div class="port-title">
                        <a href="https://github.com/JasonOhr/7.4-majestic-thai">
                            <div class="git-hub-out">
                                <span class="git-hub-in">
                                    <img  src="dist/images/github.ico"/>
                                </span>
                            </div>
                        </a>
                        <h3>Majestic Thai</h3>
                    </div>
                    <div class="port-description">
                        <p>A Backbone app developed over the weekend at the Iron Yard.  It combines
                            the Backbone router and child views to allow the user to add and remove items
                            from an order.  In addition, it collects and displays the most popular food items.
                        </p>
                    </div>
                    <div class="port-overlay">
                        <ul class="port-skills">
                            <li>Backbone.js</li>
                            <li>JavaScript</li>
                            <li>Handlebars</li>
                            <li>Bourbon</li>
                            <li>Sass</li>
                        </ul>
                    </div>
                </div>



                <div class="port port-r">
                    <div class="img-port">
                        <a href="sonfast" target="_blank">
                            <img src="dist/images/sonfast-shot.png" alt="sonfast link"/>
                        </a>
                    </div>
                    <div class="port-title">
                        <a href="https://github.com/JasonOhr">
                            <div class="git-hub-out">
                                <span class="git-hub-in">
                                    <img  src="dist/images/github.ico"/>
                                </span>
                            </div>
                        </a>
                        <h3>Sonfast</h3>
                    </div>
                    <div class="port-description">
                        <p>This is a site I built for a fastener business and is currently still active.  It is mostly a Bootstrap
                        site with custom LESS and a couple of Google maps on the Contact page.  While I used Bootstrap
                        for the site, I did not use there scroll spy for the main menu, instead I just used JavaScript and JQuery.
                        </p>
                    </div>

                    <!--<div class="to-site to-site-l"><a href="sonfast" target="_blank">Live!</a></div>-->
                    <!--<div class="to-site to-site-r"><a href="sonfast" target="_blank">GitHub</a></div>-->
                    <div class="port-overlay">
                        <ul class="port-skills">
                        <li>Bootstrap</li>
                        <li>LESS</li>
                        <li>JavaScript</li>
                        <li>JQuery</li>
                        <li>Handlebars</li>
                        <li>Google Maps</li>
                        </ul>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="frame portfolio2">
        <div class="container">
            <a id="portfolio2"></a>
            <div class="right-container">
                <h2>Other stuff</h2>


            </div>
        </div>
    </div>

</div>