<div>
    <div class="container">
        <div id="top-menu">
            <!-- main_menu -->
        </div>
    </div>


    <div class="frame top">
        <div class="container">
            <div class="right-container">
            <div class="big-top">Front End Engineer</div>
            <div class="name">Jason Ohr</div>


            </div>

        </div>
    </div>


    <div  class="frame about">
        <div class="container">
            <a id="about"></a>
            <div class="right-container">
                <div class="about-headings">
                    <h2 class="left">About Me</h2>
                    <h2 class="right">Some Skills</h2>
                </div>
                <div class="left">

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Corporis cumque dolore eius enim laudantium officiis pariatur
                        ut! Cumque dicta ducimus eius ipsum iusto, obcaecati, quasi quis,
                        quisquam quo reprehenderit soluta?
                    </p>
                </div>
                <div class="right">

                    <ul class="skills">
                        <li>AngularJS</li>
                        <li>Backbone.js</li>
                        <li>JavaScript</li>
                        <li>JQuery</li>
                        <li>Bootstrap/ Bourbon</li>
                        <li>SASS/ LESS</li>
                        <li>CSS</li>
                        <li>HTML</li>
                        <li>Git/ GitHub</li>
                        <li>Bower/ NPM</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="frame portfolio1">
        <div class="container">
            <a id="portfolio1"></a>
            <div class="right-container">
                <h2>Portfolio</h2>
                <div class="port port-l">
                    <div class="to-site to-site-l"><a href="nutrasight/app/#/ingredients" target="_blank">Live!</a></div>
                    <div class="to-site to-site-r"><a href="nutrasight/app/#/ingredients" target="_blank">GitHub</a></div>

                </div>
                <div class="port port-m">
                    <div class="to-site to-site-l"><a href="majestic-thai" target="_blank">Live!</a></div>
                    <div class="to-site to-site-r"><a href="majestic-thai" target="_blank">GitHub</a></div>

                </div>
                <div class="port port-r">
                    <div class="to-site to-site-l"><a href="sonfast" target="_blank">Live!</a></div>
                    <div class="to-site to-site-r"><a href="sonfast" target="_blank">GitHub</a></div>

                </div>

            </div>
        </div>
    </div>
    <div class="frame portfolio2">
        <div class="container">
            <a id="portfolio2"></a>
            <div class="right-container">
                <h2>Other stuff</h2>


            </div>
        </div>
    </div>

</div>