<div class="background">
<ul id="top-menu">
    <li class="active">
        <span class="menu-border"></span>
        <span class="menu-active"></span>
        <a href="#">Top</a>
    </li>
    <li>
        <span class="menu-border"></span>
        <span class="menu-active"></span>
        <a href="#about">About</a>
    </li>
    <li>
        <span class="menu-border"></span>
        <span class="menu-active"></span>
        <a href="#portfolio1">Portfolio 1</a>
    </li>
    <li>
        <span class="menu-border"></span>
        <span class="menu-active"></span>
        <a href="#portfolio2">Portfolio 2</a>
    </li>
</ul>


<div  class="frame">

<h1>Hello Jason!</h1>

<div><a href="nutrasight/app/#/ingredients" target="_blank">nuts</a></div>
<div><a href="majestic-thai" target="_blank">Thai</a></div>
<div><a href="sonfast" target="_blank">Sonfast</a></div>
</div>
<div class="frame top">

</div>


<div  class="frame about">
    <a id="about">About</a>
</div>
<div class="frame portfolio1">
    <a id="portfolio1">Portfolio 1</a>
</div>
<div class="frame portfolio2">
    <a id="portfolio2">Portfolio 2</a>
</div>
</div>