<div>
    <div class="container">
        <div id="top-menu">
            <!-- main_menu -->
        </div>
    </div>


    <div class="frame top">
        <div class="container">
            <div class="right-container">
            <div class="big-top">Front End Engineer</div>
            <div class="name">Jason Ohr
                <div class="my-pic"><img src="dist/images/small-me.jpeg" alt="me"/></div>
            </div>


            </div>

        </div>
    </div>


    <div  class="frame about">
        <div class="container">
            <a id="about"></a>
            <div class="right-container">
                <div class="dark-headings">
                    <h2 class="left">About Me</h2>
                    <h2 class="right">Some Skills</h2>
                </div>
                <div class="left">

                    <p>Former United States Marine who owned a successful business and possesses the leadership ability and drive to get projects done effectively and in an efficient manner. I recently completed The Iron Yards’ front end engineering program where I expanded my knowledge of MVC frameworks and honed my front end development skills. I am committed and focused to learning all I can regarding the languages and methodologies driving the modern web.
                    </p>
                </div>
                <div class="right">

                    <ul class="skills">
                        <li>AngularJS</li>
                        <li>Backbone.js</li>
                        <li>JavaScript/ OOP</li>
                        <li>JQuery</li>
                        <li>RESTful API's</li>
                        <li>JSON</li>
                        <li>Handlebars</li>
                        <li>Bootstrap/ Bourbon</li>
                        <li>Responsive Design</li>
                        <li>Sass/ Less</li>
                        <li>CSS 3</li>
                        <li>HTML</li>
                        <li>Git/ GitHub</li>
                        <li>Bower/ NPM</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="frame portfolio1">
        <div class="container">
            <a id="portfolio1"></a>
            <div id="portfolio-list" class="right-container">

                <div class="dark-headings ">
                <h2>Portfolio</h2>
                </div>
        <!--The portfolios are dynamically placed here-->

            </div>

        </div>
        <div class="fade-out"></div>
    </div>
    <!--<div class="frame portfolio2">-->
        <!--<div class="container">-->
            <!--<a id="portfolio2"></a>-->
            <!--<div class="right-container">-->
                <!--<h2>Other stuff</h2>-->


            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

</div>