<div>
    <div class="container">
        <div id="top-menu">
            <h2>Le Menu</h2>
            <ul >
                <li class="active">
                    <span class="menu-border"></span>
                    <span class="menu-active"></span>
                    <a href="#">Top</a>
                </li>
                <li>
                    <span class="menu-border"></span>
                    <span class="menu-active"></span>
                    <a href="#about">About</a>
                </li>
                <li>
                    <span class="menu-border"></span>
                    <span class="menu-active"></span>
                    <a href="#portfolio1">Portfolio 1</a>
                </li>
                <li>
                    <span class="menu-border"></span>
                    <span class="menu-active"></span>
                    <a href="#portfolio2">Portfolio 2</a>
                </li>
            </ul>
        </div>
    </div>

    <!--<div  class="frame">-->

    <!--</div>-->
    <div class="frame top">
        <div class="container">
            <div class="right-container">
            <div class="big-top">Front End Engineer</div>
            <div class="name">Jason Ohr</div>


            </div>

        </div>
    </div>


    <div  class="frame about">


        <div class="container">
            <a id="about"></a>
            <div class="right-container">
                <div class="left">
                    <h2>About Me</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Corporis cumque dolore eius enim laudantium officiis pariatur
                        ut! Cumque dicta ducimus eius ipsum iusto, obcaecati, quasi quis,
                        quisquam quo reprehenderit soluta?
                    </p>
                </div>
                <div class="right">
                    <h2>Some Skills</h2>
                    <ul class="skills">
                        <li>AngularJS</li>
                        <li>Backbone.js</li>
                        <li>JavaScript</li>
                        <li>JQuery</li>
                        <li>Bootstrap/ Bourbon</li>
                        <li>SASS/ LESS</li>
                        <li>CSS</li>
                        <li>HTML</li>
                        <li>Git/ GitHub</li>
                        <li>Bower/ NPM</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="frame portfolio1">
        <div class="container">
            <div class="right-container">
                <h2>Portfolio</h2>
                <a id="portfolio1"></a>
                <div><a href="nutrasight/app/#/ingredients" target="_blank">nuts</a></div>
                <div><a href="majestic-thai" target="_blank">Thai</a></div>
                <div><a href="sonfast" target="_blank">Sonfast</a></div>
            </div>
        </div>
    </div>
    <div class="frame portfolio2">
        <div class="container">
            <div class="right-container">
                <h2>Other stuff</h2>
                <a id="portfolio2"></a>

            </div>
        </div>
    </div>

</div>