<h2 class="menu-title">Menu
    <a class="git-main-anchor" href="https://github.com/JasonOhr">
        <div class="git-hub-out git-main-out">
         <span class="git-hub-in git-main-in">
           <img  src="dist/images/github.ico"/>
         </span>
        </div>
    </a>
</h2>
<ul id="inner-menu">
    <li class="active">
        <span class="menu-border"></span>
        <span class="menu-active"></span>
        <a href="#">Top</a>
    </li>
    <li>
        <span class="menu-border"></span>
        <span class="menu-active"></span>
        <a href="#about">About</a>
    </li>
    <li>
        <span class="menu-border"></span>
        <span class="menu-active"></span>
        <a href="#portfolio1">Portfolio 1</a>
    </li>
    <!--<li>-->
        <!--<span class="menu-border"></span>-->
        <!--<span class="menu-active"></span>-->
        <!--<a href="#portfolio2">Portfolio 2</a>-->
    <!--</li>-->
</ul>
