<h2>Le Menu</h2>
<ul >
    <li class="active">
        <span class="menu-border"></span>
        <span class="menu-active"></span>
        <a href="#">Top</a>
    </li>
    <li>
        <span class="menu-border"></span>
        <span class="menu-active"></span>
        <a href="#about">About</a>
    </li>
    <li>
        <span class="menu-border"></span>
        <span class="menu-active"></span>
        <a href="#portfolio1">Portfolio 1</a>
    </li>
    <li>
        <span class="menu-border"></span>
        <span class="menu-active"></span>
        <a href="#portfolio2">Portfolio 2</a>
    </li>
</ul>