@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';
$grid-columns: 8 !default;
// Typography
$base-font-family: $helvetica;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$very-light-gray: #fafafa;
$cursive: 'Kaushan Script', cursive;
$trans-white: rgba(255, 255, 255,.8);
$trans-black: rgba(0,0,0,0.5);
$trans-dark-black: rgba(0,0,0,0.8);
$angled-back: repeating-linear-gradient(-45deg, rgba(0, 0, 0, 0.3) 1px, transparent 2px,rgba(0, 0, 0, 0.3) 4px, transparent 4px);

$base-font-color: $dark-gray;
$base-background-color: $very-light-gray;

body {
  font-family: $base-font-family;
  background-color: $base-background-color;

}
.background {
  //background-image: repeating-linear-gradient(-45deg, rgba(0, 0, 0, 0.3) 1px, transparent 2px,rgba(0, 0, 0, 0.3) 4px, transparent 4px);
  position: relative;
  min-height: 2800px;
}
.container {
  @include outer-container(1000px)
}
.right-container {
  @include span-columns(6 of 8);
  @include shift(2);
  color: $trans-white;
  margin-top: 70px;
  background-color: $trans-black;
  box-shadow: inset #111 3px 3px 10px 3px, #201111 6px 7px 13px 1px;
  border: 1px solid black;

  border-radius: 10px;
}
.right-container h2 {
  text-align: center;
  font-family: $cursive;
  font-size: 45px;
  margin: 10px 0;
}
.big-top {
  font-family: $cursive;
  font-size: 70px;


}
.name {
  font-size: 40px;
  text-align: center;
}
.left {
  @include span-columns(3 of 6);

}
.right {
  @include span-columns(3 of 6);
  @include omega;

}
.dark-headings {
  @include span-columns(6 of 6);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid black;
}

.left p {
  margin: 28px 40px;
  font-size: 1.2em;
  line-height: 1.5em;
}

.skills li{
  list-style: none;
  height: 26px;
  font-size: 1.2em;
}
.port {
  @include span-columns(1.8 of 6);

  @include margin(30px null 30px null);
  height: 300px;
  border: 2px solid white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  background-color: rgba(0,0,0,0.3);

}
.port-l {
  @include shift(0.3)
}
.port-m {
  //@include shift(1);

}
.port-r {
  @include omega();
}
@keyframes fadeOutPort {
  0% {
    background-color: $trans-dark-black;
    color: $trans-white;
  }
  90% {
    color: transparent;
    background-color: transparent;
  }
  100% {
    //border:10px solid rgba(255,255,255,0);

    z-index: -5;
  }
}
@keyframes fadeinPort {
  0% {
    background-color: transparent;
    color: transparent;

  }
  5% {
    z-index: 10;
  }
  100% {
    background-color: $trans-dark-black;
    color: $trans-white;
  }
}
.port-overlay {
  @include span-columns(12);
  @include position(absolute,0 null null 0);
  height: 296px;
  background-color: $trans-dark-black;
  z-index: 10;
  border: 2px solid transparent;
  -webkit-animation-name: fadeinPort;
  -moz-animation-name: fadeinPort;
  -o-animation-name: fadeinPort;
  animation-name: fadeinPort;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;


}
.port-overlay li {
  list-style: none;
  height: 35px;
}

.port:hover .port-overlay {
  background-color: transparent;
  color: transparent;
  -webkit-animation-name: fadeOutPort;
  -moz-animation-name: fadeOutPort;
  -o-animation-name: fadeOutPort;
  animation-name: fadeOutPort;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -o-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

}

.img-port {
  height: 95px;
  border-bottom: 1px solid white;
  background-color: gray;
}
.port-title {
  padding-top: 3px;
  background-color: rgba(0,0,0,0.4);
  height: 31px;
  position: relative;
}
.git-hub-out {
  width: 30px;
  height: 30px;
  background-color: rgba(0, 168, 255, 0.75);
  border: 2px solid black;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: -12px;
}
.git-hub-in {
  width: 22px;
  height: 22px;
  background-color: $medium-gray;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  right: 2px;
}
.git-hub-in:hover {
  background-color: white;
}

.port h3{
  margin: 0 0 0 10px;

}

img {
  width: 100%;
}

.port-description {
  overflow-y: hidden;
  overflow-x: hidden;
  height: 140px;
  padding: 0 15px;
  cursor: context-menu;
}
.port-description:hover {
  overflow-y: scroll;
}
.port-description::-webkit-scrollbar {
  width: 8px;
}
.port-description::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.port-description::-webkit-scrollbar-thumb {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background: rgba(0, 250, 0, 0.4);
  -webkit-box-shadow: inset 0 0 6px $trans-black;
}
.port-description::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0,250,0,0.4);
}
.to-site {
  //@include span-columns(.8 of 1.8);

  height: 40px;
  width: 46%;
  padding: 5px 0;
  display: inline-block;
  text-align: center;

  border: 1px solid black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: orangered;

}
.to-site-l {
  margin-left: 3%;
}
.to-site a {
  text-decoration: none;
  color: black;
}
.frame {
  width: 100%;
  min-height: 700px;
  -webkit-background-size: cover;
  background-size: cover;
}
.top {

  background-image: $angled-back,url('../images/sailing1.jpg');



}

.about   {
  height: 700px;
  //position: absolute;
  //top:700px;
  background-image: $angled-back,url('../images/lrg-ship-n-bottle.jpg');

  -webkit-background-size: cover;
  background-size: cover;
  //z-index: -2;

  //background-color: #000066;
}
.portfolio1 {
  //position: absolute;
  height: 700px;
  //top:1400px;
  background-image: $angled-back,url('../images/CuttySark.jpg');
  -webkit-background-size: cover;
  background-size: cover;
  //z-index: -2;
}
.portfolio2 {
  //position: absolute;
  height: 700px;
  //top:2100px;
  background-image: $angled-back,url('../images/oracle.jpg');
  -webkit-background-size: cover;
  background-size: cover;
 // z-index: -2;
}

@keyframes slide-border-left {
  from {
    background-color: transparent;
    left: 30px;}
  to {
  background-color: green;
    left: 0;}
}
@keyframes slide-border-right {
  from {
    background-color: green;
    left: 0;}
  to {
    background-color: transparent;
    left: 30px;}
}

#top-menu {
  @include span-columns(2);
  font-family: $cursive;
  font-size: 1.3em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: inset #111 -2px 0px 10px 3px, #201111 6px 10px 20px 1px;
  width: 220px;
  position: fixed;
  //z-index: 1;
  background: rgba(0,0,0, 0.5);
  padding-left: 0;
  //left: 40px;
  top: 70px;

}
#top-menu h2 {
  font-size: 2em;
  margin: 30px 10px;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;

}
#top-menu ul{
  padding-left: 0;
  margin-bottom: 1px;
}

#top-menu li {
  border-bottom: 1px solid rgba(0,0,0,.5);
  height: 45px;
  list-style: none;
  position: relative;

  //float: left;
}
#top-menu .menu-border {
  width: 3px;
  height: 44px;
  background-color: rgba(0,0,0, 0.0);
  position: absolute;
  top: 0;
  left: 30px;
  -webkit-animation-name: slide-border-right;
  -moz-animation-name: slide-border-right;
  -o-animation-name: slide-border-right;
  animation-name: slide-border-right;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  //border-left: 3px solid rgba(0,0,0, 0.0);
}
#top-menu .menu-active{
  width: 3px;
  height: 44px;
  background-color: rgba(0,0,0,0.0);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

#top-menu a {
  //display: block;
  padding: 0 25px;
  height: 25px;
  position: absolute;
  top: 6px;
  left: 10px;
  -webkit-transition: .5s all ease-out;
  -moz-transition: .5s all ease-out;
  transition: .5s all ease-out;

  color: #aaa;
  text-decoration: none;
}

#top-menu li:hover .menu-border{
  -webkit-animation-name: slide-border-left;
  -moz-animation-name: slide-border-left;
  -o-animation-name: slide-border-left;
  animation-name: slide-border-left;
  -webkit-animation-duration: 0.3s;
  -moz-animation-duration: 0.3s;
  -o-animation-duration: 0.3s;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  //border-left: 3px solid green;
  left: 0;
  color: green;

}
#top-menu li:hover a{
  color: green;
}

#top-menu li.active .menu-active {

  background-color: green;


}
#top-menu li.active a {
  color: green;
}
